body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #16151A;
    margin: 0;
}

.calculator {
    background-color: #f67011;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(227, 221, 221);
    padding: 25px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: end;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #873800;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #873800;
}

button:active {
    transform: scale(0.98);
}

.result {
    background-color: #878787;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    min-height: 20px;
}

.error {
    color: #e74c3c;
    font-weight: bold;
}

.success {
    color: white;
    font-size: 15px;
    font-weight: bold;
}