.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 20px;
}

.Bogota{
    background-color: rgb(201, 91, 91);
    color: white;
}

.Medellin{
    background-color: rgb(122, 193, 122);
    color: white;
}

.Cali{
    background-color: rgb(122, 122, 193);
    color: white;
}

.Cartagena{
    background-color: rgb(193, 193, 122);
    color: white;
}